.parent-nav-entry .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 75px;
  height: 60px;
  padding-top: 3px;
}

.sub-navigation {
  position: absolute;
  top: 100px;
  left: 120px;
  width: 200px;
}

.sub-nav-entry {
  list-style-type: none;
  font-size: 15px;
  padding-bottom: 15px;
}

@media (max-width: 800px) {
  #course-home-sub-navigation {
    display: none;
  }
}


@media (max-width: 1200px) {
  #course-home-right-most-items {
    display: none;
  }
}

@media (max-width: 600px) {
  #course-home-main {
    display: none;
  }
}

.selected-side-nav-item {
  color: black;
  font-weight: bold;
}

.ic-icon-svg path{
  fill: #C00;
}

.neu-red {
  color: #C00;
}

.ic-icon-svg {
  width: 30px;
  height: auto;
  margin: 3px;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.selected_nav {
  background-color: white;
}

.module-subject-color {
  background-color: #e7e6e6;
}

.large-profile-icon {
  position: absolute;
  top: 100px;
  left: 250px;
}

.profile-info {
  position: absolute;
  top: 100px;
  left: 420px;
}


.flex-card-item {
  flex-basis: calc(25% - 10px);
  margin: 5px;
}

@media (max-width: 1000px) {
  .flex-card-item {
    flex-basis: calc(33.333% - 10px);
  }
}

@media (max-width: 665px) {
  .flex-card-item {
    flex-basis: calc(50% - 10px);
  }
}

.card {
  width: 100%;
}

.breadcrumb .breadcrumb-item:not(:first-child)::before {
  content: ">";
}

.module-subject {
  font-size: 18px;
  font-weight: bold;
}

.module-title {
  font-size: 16px;
  font-weight: bold;
}

.module-item {
  margin-left: 20px;
}

.assignment-title {
  font-size: 18px;
  font-weight: bold;
}

.should-diplay-green-bar::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 5px;
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
}