.parent-nav-entry .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 75px;
  height: 60px;
}

.sub-nav-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 60px;
  list-style-type: none;
  font-size: 15px;
  margin-top: 150px;
}

.ic-icon-svg path{
  fill: #C00;
}

.neu-red {
  color: #C00;
}

.ic-icon-svg {
  width: 30px;
  height: auto;
  margin: 3px;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.selected_nav {
  background-color: white;
}








